.customAdornment {
    padding-top: 1px;
    font-size: 0.90rem;
    font-weight: 600;
    max-width: 100%;
    width: 100%;
}

#bff{
    margin-left: 0px;
    padding-left: 0px;
}

.customAdornment p{
    padding-top: 1px;
    font-size: 0.90rem;
    font-weight: 600;
    max-width: 30px;
}
.hidden{
    display: none!important;
}
#captcha{
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
    margin-top:0px ;
    margin-bottom:0px !important ;
}
#recaptcha-container{
    margin: 20px;
    margin-bottom:0px !important ;
    
}